.app {
  text-align: center;
}

.logo {
  height: 20vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}

.status-container {
  font-size: 3em;
}

.status-container p {
  margin: .5em 0;
}

.status {
  display: inline;
  white-space: pre-wrap;
  padding: 12px;
}

.status.unknown {
  background-color: #a39d9d;
}

.status.closed {
  background-color: #e01b1b;
}

.status.open {
  background-color: #26bd0f;
}

.status.unsupervised {
  background-color: #ffc31f;
}


.openinghours-container {
  text-align: left;
  margin-bottom: 3em;
}

.openinghours-row {
  min-width: 20em;
}

.openinghours-weekday {
  display: inline-block;
  width: 10em;
  font-weight: bold;
}

.openinghours-times {
  display: inline-block;
}